.eventContainer {
    border-radius: 50px;
    background: linear-gradient(180deg, #AC88F5 0%, #5B2CD8 100%);
    width: 1232px;
    height: 406px;
    position: relative;
  }
.liveBox{
    display: flex;
    width: 85px;
    padding: 6px 12px;
    justify-content: center; 
    align-items: center;
    border-radius: 999px;
    border: 1.4px solid #FDEBC8;
    background: linear-gradient(180deg, #F8E478 0%, #E6AD19 100%);
    box-shadow: 0px 4px 16px 0px rgba(249, 185, 19, 0.65);
    position: absolute;
    left: 40px;
    top: 30px;
}
.eventText{
    color: #000;
    font-family: CYGUN;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 60px;
    left: 40px;
    margin: 0;
}
.image2{
    width: 346px;
    height: 220px;
    position: absolute;
    bottom: 0px;
    right: 150px;
  }
.image1{
    width: 346px;
    height: 346px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-bottom-right-radius: 50px;
  }
  @media (max-width: 1199px) {
    .myComponent {
      width: 90%;  
      height: auto;  
    }
  }
  
  /* Media query for screens smaller than 768px (mobile devices) */
  @media (max-width: 767px) {
    .myComponent {
      width: 100%;  
      height: 300px;  
  }
}
  
  /* Media query for screens smaller than 480px (smaller mobile devices) */
  @media (max-width: 479px) {
    .myComponent {
      width: 100%;  
      height: 250px;  
    }
}
