@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap');

@font-face {
  font-family: 'CYGUN';
  src: url('../../assets/fonts/CYGUN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: Ensure body and html also have no margin/padding */
body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background: #000;
}

.navContent {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  background: #000;
  color: #fff;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 91px;
  height: 101px;
}

.menu {
  display: flex;
  align-items: center;
  width: 40%;
}

.menuList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 22px;
  list-style: none;
  margin: 0;
}

.menuList li {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s;
}

.menuList li:hover {
  color: #32cd32;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  background-color: #32cd32;
  color: black;
  border: none;
  padding: 12px 20px;
  font-size: 22px;
  clip-path: polygon(
    0 0,
    calc(100% - 15px) 0,
    100% 15px,
    100% 100%,
    15px 100%,
    0 calc(100% - 15px)
  );
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  font-family: 'CYGUN', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.loginButton:hover {
  background-color: #28a428;
  transform: scale(1.02);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 30px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
}

.hamburgerMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 40%;
  background: #000;
  z-index: 1;
  padding: 10px 0;
}

.hamburgerMenuList {
  list-style: none;
  padding: 0;
  text-align: center;
}

.hamburgerMenuList li {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s;
}

.hamburgerMenuList li:hover {
  color: #32cd32;
}

@media (max-width: 768px) {
  .logo {
    padding-left: 0px;
  }

  .logoImage {
    width: 70px;
    height: 70px;
  }

  .menu {
    display: none;
  }

  .login {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .hamburgerMenuList li {
    padding: 10px;
  }
}
