@import url('https://fonts.cdnfonts.com/css/airnt');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Chakra Petch', sans-serif;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Aligns items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    height: 100vh; /* Makes the body fill the viewport height */
    margin: 0; /* Removes default margin */
    background-color: #000; /* Optional: Set a background color */
    color: #fff; /* Optional: Set a text color for better contrast */
}

h1 {
    font-size: 3.5rem;
    font-family: 'Airnt', 'Chakra Petch', sans-serif;
    text-align: center; /* Ensures text is centered inside the h1 */
}

p {
    color: #00fd04;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center; /* Ensures text is centered inside the p */
    padding-bottom: 60px;
}

.aboutBox {
    border-radius: 67px;
    background-color: #00B508;
    max-width: 75%;
    margin: 60px auto;
    font-size: 1.875rem;
    padding: 10vw;
    padding-left: 7vw ;
    padding-right: 7vw;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    .aboutBox {
        padding: 8vw;
        font-size: 1.5rem;
        border-radius: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 0.95rem;
    }

    p {
        font-size: 0.9rem;
    }

    .aboutBox {
        padding: 10vw;
        font-size: 1rem;
        border-radius: 30px;
        padding-top: 20vw;
        padding-bottom: 20vw;
        margin: 0.9rem 1.3rem;
    }
}
